/* CSS  reset rules */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

ul li {
    list-style: none;
}

/* nav-bar rules */

.main-header{
    position: fixed;
    background: #fff;
    min-width: 100%;
    top: 0;
}

.nav-bar{
    margin: 1.5rem 1rem;
}
    
.nav-bar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Cards */

.Items-wrapper {
    margin: 6rem 5rem;
}

.item-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.item-card h3 {
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem 0;

}
.item-card p {
    text-align: center;
}

.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.about-image img {
    width: 80vw;
    margin: 1.5rem 0;
}

.about-blurb {
    margin: 1rem 0;
}

.about-article {
    text-align: center;
    padding: 0.5rem 1rem;
}

/*  */

.main-footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.coin {
    width: 50px;
}
.footer-section {
    margin: 1rem 0;
}
.footer-section p{
    display: flex;
    flex-wrap: wrap;
}
 .tag {
    color: #fff;
    background-color: rgb(126, 115, 115);
    padding: 3px;
    margin: 11px 4px;
    flex-basis: 4rem;
    text-align: center;
}

.tag-highlight{
    background-color: #000;
    } 

.hr-rule {
    border-bottom: 1px solid rgb(223, 217, 217);
}

.blog-list li {
    margin: 1rem 0;
}

@media only screen and (min-width: 1024px) {
    .Items-wrapper {
      display:flex;
    }
  }